.trCard {
  cursor: pointer;
  .th {
    padding: 0 1rem;
    &::before {
      content: "•";
    }
  }
  td {
    padding: 0.5rem;
  }
}

.you {
  background-color: #e9e979 !important;
}
.you:hover {
  background-color: #e3e359 !important;
}
