.rootUsersPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: solid;
  width: 100%;
  box-sizing: border-box;

  .breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    gap: 0.5rem;
    padding: 0.25rem;
    align-self: flex-start;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: var(--color-link);
    }
  }

  .titleUsersPage {
    padding: 0;
    margin: 0;
  }

  .subTitleUsersPage {
    padding: 0;
    margin: 0;
  }

  .userList {
    thead {
      tr {
        th {
          background-color: var(--color-four);
        }
      }

      th:first-child {
        border-top-left-radius: 12px;
      }

      th:last-child {
        border-top-right-radius: 12px;
      }
    }
    tbody {
      tr {
        .smallNoPadding {
          text-align: center;
        }
      }
      tr:nth-child(even) {
        background-color: var(--color-eight);
      }
      tr:nth-child(odd) {
        background-color: var(--color-seven);
      }

      tr:last-child {
        background-color: unset;
      }
      tr:hover {
        background-color: var(--color-ten);
      }
      tr:hover:last-child {
        background-color: unset;
      }
    }
  }
}
