:host,
:root {
  --color-one: #2d3748; /* Dark Gray (for text or primary elements) */
  --color-two: #4a5568; /* Medium Gray (secondary elements) */
  --color-three: #38b2ac; /* Teal (accent color) */
  --color-four: #f6ad55; /* Warm Orange (highlight elements) */

  --color-five: #ed8936; /* Orange (buttons, accents) */
  --color-six: #f7fafc; /* Light Gray (backgrounds or light elements) */
  --color-seven: #63b3ed; /* Light Blue (buttons, links) */
  --color-eight: #9ae3d6; /* Soft Teal (subtle highlights or borders) */
  --color-nine: #e2e8f0; /* Very Light Gray (backgrounds or borders) */
}

html,
#root,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-nine);
}

html {
  font-size: 16px;
}
