:host,
:root {
  --color-one: #2d3748; /* Dark Gray (for text or primary elements) */
  --color-two: #4a5568; /* Medium Gray (secondary elements) */
  --color-three: #38b2ac; /* Teal (accent color) */
  --color-four: #f6ad55; /* Warm Orange (highlight elements) */

  --color-five: #ed8936; /* Orange (buttons, accents) */
  --color-six: #f7fafc; /* Light Gray (backgrounds or light elements) */
  --color-seven: #63b3ed; /* Light Blue (buttons, links) */
  --color-eight: #9ae3d6; /* Soft Teal (subtle highlights or borders) */
  --color-nine: #e2e8f0; /* Very Light Gray (backgrounds or borders) */
  --color-ten: #30d2ca;
  --color-11: #fff;

  --color-link: #553eb6;
}

html,
#root,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-nine);
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
  #light {
    color: var(--color-one) !important;
    background-color: var(--color-nine);

    button {
      color: var(--color-two);
      background-color: var(--color-six);
    }
    .selectedLanguage {
      background-color: var(--color-five);
    }
    .primaryBtn {
      color: var(--color-two);
      background-color: var(--color-six);
    }
    .secundaryBtn {
      color: var(--color-six);
      background-color: var(--color-two);
    }
  }

  #dark {
    color: var(--color-seven) !important;
    background-color: var(--color-two);
    button {
      color: var(--color-six);
      background-color: var(--color-five);
    }
    .selectedLanguage {
      background-color: var(--color-nine);
    }
    .primaryBtn {
      color: var(--color-six);
      background-color: var(--color-five);
    }
    .secundaryBtn {
      color: var(--color-six);
      background-color: var(--color-ten);
    }
  }

  button {
    cursor: pointer;
  }

  button:active {
    scale: 0.97;
    opacity: 0.5;
  }
}
